.input {
  display: flex;
  margin-top: 50px;
}

.input > form {
  border: 2px solid gray;
  border-radius: 10px;
}

.input > form > input {
  width: 500px;
  padding: 10px 5px;
  outline: none;
  border: none;
  border-radius: 10px;
  text-indent: 10px;
}

.input > form > button {
  padding: 10px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #4885ed;
  color: white;
  font-weight: 700;
  transition: all 300ms;
}

.input > form > button:hover {
  background-color: #2c74f0;
}

@media (max-width: 769px) {
  .input > form > input {
    width: 400px;
  }
}

@media (max-width: 600px) {
  .input > form > input {
    width: 250px;
  }
}

@media (max-width: 360px) {
  .input > form > input {
    width: 200px;
  }
}

@media (max-width: 299px) {
  .input > form > input {
    width: 170px;
  }
}
