.search {
  display: flex;
  flex-direction: column;
}

/* .search > hr {
  border-top: 1px solid gray;
  opacity: 0.5;
} */

.search__header {
  display: flex;
  align-items: center;
  flex: 0.1;
}

.search__header > div {
  margin-bottom: 40px !important;
}

.search__header > img {
  object-fit: contain;
  height: 40px;
  margin: auto 20px;
  cursor: pointer;
}

.search__duration {
  border-top: 1px solid rgb(187, 184, 184);
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 13px;
  text-align: left;
  height: 50px;
}

.search__duration > span {
  margin-left: 230px;
}

.search__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  text-align: left;
  margin-left: 230px;
}

.search__item__displayLink {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.search__item__link {
  text-decoration: none;
  color: #1a0dab;
  font-weight: 500;
  font-size: 19px;
  margin: 10px 0;
}

.search__item__link:hover {
  text-decoration: underline;
}

.search__item > p {
  color: rgb(46, 45, 45);
  font-size: 14px;
  width: 650px;
}

@media (max-width: 830px) {
  .search__header > img {
    height: 30px;
  }

  .search__item {
    margin-left: 130px;
  }
  .search__item > p {
    width: 550px;
  }
}

@media (max-width: 500px) {
  .search__header > img {
    position: absolute;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
  }
  .search__duration {
    display: flex;
  }
  .search__duration > span {
    margin-left: -100px;
  }

  .search__header {
    flex-direction: column;
  }

  .search__item {
    margin-left: 30px;
  }

  .search__item > p {
    width: 330px;
  }
}

@media (max-width: 376px) {
  .search__item {
    margin-left: 20px;
  }
  .search__duration > span {
    margin-left: -80px;
  }
}

@media (max-width: 360px) {
  .search__duration > span {
    margin-left: -50px;
  }
  .search__item {
    margin-left: 15px;
  }
  .search__item > p {
    width: 290px;
  }
}
